.root {
    -fx-base: #111;
    -fx-snap-to-pixel: true;
}

#editor {
    -fx-font-family: 'Fira Code','Cascadia Code',monospace;
    -fx-font-size: 11pt;
    -fx-background-color: #111;
}

#output {
    -fx-text-fill: #ddd;
    -fx-font-family: 'Fira Code','Cascadia Code',monospace;
    -fx-font-size: 11pt;
}

#output .content {
    -fx-background-color: #222;
}
